/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(237, 253, 244);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    
.border {
    background-color: rgb(46, 179, 179);
    box-shadow: 0px 0px 25px 1px rgb(154, 255, 147);
    /* width: 97%; */
}

.mynav{
    background-color: rgb(43, 157, 177);
    /* navbar-dark -> for white text */
}